
@import url(http://fonts.googleapis.com/css?family=Lato:400,300,100,700,900&subset=latin,latin-ext);





html, body{
  font-family: 'Lato', sans-serif;
  font-size:15px;
  -webkit-font-smoothing: subpixel-antialiased!important;
  color:black;
  font-weight:400;
  height:100%;
}

a{
  text-decoration:none;
  outline:none;
  font-size:14px;
}

h1{
  font-size:30px;
  color:white;
  font-weight:400;
  text-transform:uppercase;
  letter-spacing:6px;
  line-height:1.4;
}

p{
  font-size:16px;
  color:white;
  font-weight:300;
  letter-spacing:1px;
  margin-top:30px;
}


h1 span{
  color:#2fa68e;
}


::selection {
  background: #da7474;
  color:white;
}

::-moz-selection {
  background: #da7474;
  color:white;
}


.container{
  position:absolute;
  width:100%;
  height:100%;
}







/* Start page mobile*/

.start-page-mobile{
  position:relative;
  width:100%;
  height:100%;
  z-index:10;
  padding: 60px 0;
  background:url('../img/background/start-pageg.jpg') #c0c0c0 bottom center repeat-y;
  -webkit-background-size: auto 120%;
  -moz-background-size: auto 120%;
  -o-background-size: auto 120%;
  background-size: auto 120%;
}

.start-page-mobile hr{
  color: white;
  margin-top:10px;
  background-color: white;
  height: 1px;
  width:106px;
  border:0;

}

.start-page-mobile .opacity{
  position:absolute;
  width:100%;
  height:100%;
  background:rgba(51,51,51,0.5); /* Standard Off */
}


.start-page-mobile .content{
  position:relative;
  width:100%;
  margin:0 auto;
  height:100%;
}

.start-page-mobile .content .text{
  position:absolute;
  text-align:center;
  margin:auto;
  top:0; 
  left:0; 
  bottom:0; 
  right:0;
  width:100%;
  height:100%;
}

.start-page-mobile .content .text .logo{
  width:225px;
  height:225px;
  margin:0 auto 50px;
  
}


.start-page-mobile .content .text .read-more{
  width:183px;
  height:47px;
  margin:50px auto;
  line-height:47px;
  border:1px solid white;
  text-transform:uppercase;
  color:white;
  display:block;
  cursor:pointer;
  font-size:14px;
  letter-spacing:1px;
  background:none;
  -webkit-transition: all 0.6s ease-in;
	-moz-transition: all 0.6s ease-in;
	-ms-transition: all 0.6s ease-in;
	-o-transition: all 0.6s ease-in;
	transition: all 0.6s ease-in;
}

.start-page-mobile .content .text .read-more:hover{
  color:white;
  background: #da7474;
  border:1px solid #da7474;
}



/* Menu mobile */

.menu-media{
  position:fixed;
  width:100%;
  height:60px;
  background:#da7474;
  z-index:1000;
}

.menu-media .menu-content{
  width:95%;
  position:relative;
  margin:10px auto;
}

.menu-media .menu-content .logo {
   color:white;
   font-weight:400;
   font-size:11px;
   line-height:40px;
   float:left;
   list-style: none;
   margin: 0;
}

.menu-media .menu-content .icon{
  width:18px;
  height:18px;
  float:right;
  margin:11px 10px 11px 10px;
}




/* About us */

.about-us{
  position:relative;
  width:100%;
  background:white;
  z-index:10;
  padding: 20px 0;
}

.about-us .content{
  position:relative;
  width:100%;
  margin: 0 auto;
  overflow: hidden;
}

.about-us h1{
  font-size:34px;
  color:black;
  text-align:center;
  margin-top:60px;
  letter-spacing:6px;
  font-weight:bold;
  text-transform:uppercase;
  line-height:1.2;

}

.about-us hr{
  color: black;
  margin-top:10px;
  background-color: black;
  height: 1px;
  width:106px;
  border:0;

}

.about-us p.title{
  color: #111111;
  margin:30px auto 0;
  width:300px;
  letter-spacing:0;
  font-size:17px;
  text-align:center;
  font-weight:400;
}

.about-us h2{
  text-align:center;
  margin-top:50px;
  font-size:26px;
  color:black;
  line-height:1.2;
  letter-spacing:2px;
  width:100%;
  position:relative;
  font-weight:400;
}

.about-us p{
  text-align:center;
  font-size:14px;
  width:175px;
  margin:10px auto;
  color:#999999;
  line-height:26px;
  letter-spacing:0;
  position:relative;
  font-weight:400;
}

.about-us .column-one{
  margin-top:40px;
  width:200px;
  display:inline-block;
  margin-bottom:70px;
  height:210px;
}

.about-us .column-one .circle-one{
  height: 80px;
  position:relative;
  margin:0 auto;
  border:2px solid #f0f0f0;
  background: url(../img/icons/design.png) white no-repeat center center;
  -moz-border-radius:80px;
  -webkit-border-radius:80px;
  border-radius: 80px;
  width: 80px;
  cursor:pointer;
    -webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.about-us .column-one .circle-one:hover{
  border:2px solid #da7474;

}

.about-us .column-two{
  margin-top:40px;
  width:200px;
  display:inline-block;
  margin-bottom:70px;
  height:210px;
}

.about-us .column-two .circle-two{
  height: 80px;
  position:relative;
  margin:0 auto;
  border:2px solid #f0f0f0;
  background: url(../img/icons/suspension.png) white no-repeat center center;
  -moz-border-radius:80px;
  -webkit-border-radius:80px;
  border-radius: 80px;
  width: 80px;
    cursor:pointer;
    -webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.about-us .column-two .circle-two:hover{
  border:2px solid #da7474;
}


.about-us .column-three{ 
  margin-top:40px;
  width:200px;
  display:inline-block;
  margin-bottom:70px;
  height:210px;
}

.about-us .column-three .circle-three{ 
  height: 80px;
  position:relative;
  margin:0 auto;
  border:2px solid #f0f0f0;
  background: url(../img/icons/brake.png) white no-repeat center center;
  -moz-border-radius:80px;
  -webkit-border-radius:80px;
  border-radius: 80px;
  width: 80px;
  cursor:pointer;
  -webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.about-us .column-three .circle-three:hover{ 
  border:2px solid #da7474;
}


.about-us .column-three .circle-four{ 
  height: 80px;
  position:relative;
  margin:0 auto;
  border:2px solid #f0f0f0;
  background: url(../img/icons/steering.png) white no-repeat center center;
  -moz-border-radius:80px;
  -webkit-border-radius:80px;
  border-radius: 80px;
  width: 80px;
  cursor:pointer;
  -webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.about-us .column-three .circle-four:hover{ 
  border:2px solid #da7474;
}


.about-us .column-three .circle-five{ 
  height: 80px;
  position:relative;
  margin:0 auto;
  border:2px solid #f0f0f0;
  background: url(../img/icons/engine.png) white no-repeat center center;
  -moz-border-radius:80px;
  -webkit-border-radius:80px;
  border-radius: 80px;
  width: 80px;
  cursor:pointer;
  -webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.about-us .column-three .circle-five:hover{ 
  border:2px solid #da7474;
}

.about-us .column-three .circle-six{ 
  height: 80px;
  position:relative;
  margin:0 auto;
  border:2px solid #f0f0f0;
  background: url(../img/icons/fabrication.png) white no-repeat center center;
  -moz-border-radius:80px;
  -webkit-border-radius:80px;
  border-radius: 80px;
  width: 80px;
  cursor:pointer;
  -webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.about-us .column-three .circle-six:hover{ 
  border:2px solid #da7474;
}

.about-us .column-three .circle-seven{ 
  height: 80px;
  position:relative;
  margin:20px auto;
  border:2px solid #f0f0f0;
  background: url(../img/icons/team.png) white no-repeat center center;
  -moz-border-radius:80px;
  -webkit-border-radius:80px;
  border-radius: 80px;
  width: 80px;
  cursor:pointer;
  -webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.about-us .column-three .circle-seven:hover{ 
  border:2px solid #da7474;
}

/* Portfolio */


.portfolio{
  position:relative;
  width:100%;
  background:#f3f3f3;
  z-index:10;

}

.portfolio .portfolio-margin{
  position:relative;
  width:90%;
  overflow:hidden;
  margin:0 auto;
  text-align:center;
}

.portfolio .portfolio-margin h1{
  font-size:34px;
  color:black;
  text-align:center;
  margin-top:70px;
  letter-spacing:6px;
  font-weight:bold;
  text-transform:uppercase;
  line-height:1.2;
}

.portfolio .portfolio-margin hr{
  color: black;
  margin-top:10px;
  background-color: black;
  height: 1px;
  width:106px;
  border:0;
}




/* Portfolio grid */

/* Portfolio grid */

.grid{
  margin: 40px auto 70px;
  width:100%;
  position:relative;
  overflow:hidden;
  display:inline-block;

}

.grid li{
  width:250px;
  margin:0 15px 15px;
  position: relative;
  overflow: hidden;
  display:inline-block;
}


.grid img{
  width:250px;
  height:auto;
  float: left;
  position: relative;
}

.grid .text {
  position: absolute;
  width: 250px;
  height:100%;
  background: rgba(218,116,116,1);
  z-index: 2;
  opacity:0;
    -webkit-transition: all 0.6s ease-in;
	-moz-transition: all 0.6s ease-in;
	-ms-transition: all 0.6s ease-in;
	-o-transition: all 0.6s ease-in;
	transition: all 0.6s ease-in;
}

.grid .text:hover {
  opacity:1;
}



.grid p {
  font-size: 18px;
  text-align:center;
  line-height:26px;
  margin-top:40px;
  font-weight: bold;
  letter-spacing:1px;
  color: #FFF;
}

.grid p.description {
  font-size: 12px;
  margin-top:20px;
  text-align:center;
  line-height:20px;
  font-weight: 400;
  color: #FFF;
  position:relative;
}


.clear { 
    clear:both; 
}


/* Partners Mobile*/

.partners-mobile{
  position:relative;
  width:100%;
  z-index:10;
  height:400px;
  background:url('../img/background/partnersg.jpg') 0px 0px;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.partners-mobile .opacity{
  position:absolute;
  width:100%;
  height:400px;
  background:rgba(79,79,79,0.6);
}

.partners-mobile .content{
  position:absolute;
  width:100%;
  height:190px;
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.partners-mobile h2{
  color:white;
  letter-spacing:1px;
  font-size:32px;
  font-weight:300;
  text-align:center;
}

.partners-mobile .logo{
  position:relative;
  width:100%;
  overflow:scroll;
  margin-top:50px;
  text-align:center;
}

.partners-mobile .logo img{
  opacity:0.5;
}

.partners-mobile .logo img:hover{
  opacity:1;
}

/* Contact */

.contact{
  position:relative;
  width:100%;
  background:white;
  z-index:10;
  overflow:hidden;
  margin-bottom: 30px;  
}


.contact .content{
  position:relative;
  width:100%;
  margin: 40px auto 60px auto;
  text-align:center;
}

.contact h1{
  font-size:34px;
  color:black;
  text-align:center;
  margin-top:70px;
  letter-spacing:6px;
  font-weight:bold;
  text-transform:uppercase;
  line-height:1.2;
}

.contact hr{
  color: black;
  margin-top:10px;
  background-color: black;
  height: 1px;
  width:106px;
  border:0;
}


.contact .content .contact-text{
  width:300px;
  font-weight:300;
  margin: 0 auto 0;
  color:black;
  font-size:14px;
  line-height:26px;
  display:inline-block;
}

strong{
  font-weight:700;

}



/* Footer */


.footer{
  position:relative;
  bottom:0;
  width:100%;
  background:#d9d9d9;
}

.footer .logo{

  position:relative;
  width:58px;
  height:58px;
  margin: 0 auto;
  padding-top:50px;

}

.footer .menu-footer{
  width:80%;
  text-align:center;
  margin:0 auto;
  padding-top:30px;
  overflow: hidden;
  position:relative;  
}


.footer .menu-footer a{
  line-height:46px;
  padding:10px;
  color:#303030;
}

.footer .menu-footer a:hover{
  color:#da7474;
}


.footer .copyright{
  width:80%;
  position:relative;
  font-weight:300;
  margin:0 auto;
  padding:30px 0 50px;
  text-align:center;
  font-size:14px;
  line-height:36px;
  color:#a4a4a4;
}


.dropdown {
    position: relative;
    display: inline-block;
    margin: 10px 15px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #da7474;
    width:auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-left: -13px;
    margin-top: 10px;
}

.dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;

}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content:hover .dropdown-content {
  display:block;
}


